.homepage {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1.5rem;
  padding: 1rem;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-light);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 75%;
}

.post > * {
  padding: 0.5rem;
}

.post-button {
  position: fixed;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-icon {
  font-size: 1rem;
  margin-right: 0.2rem;
  margin-top: 0.1rem;
}

@media (max-width: 600px) {
  .post-container {
    width: 100%;
    padding: 0.2rem;
    margin: 0;
    gap: 0.8rem;
  }
  .post-icon {
    display: none;
  }
}
